Breadcrumb QPushButton {
    min-width: 50px;
    border-radius: 3px;
    border: 2px solid lightgray;
    padding: 2px;
    margin: 0;
}
Breadcrumb QPushButton[highlighted="true"] {
    background-color: lightyellow;
}
Breadcrumb QPushButton:hover {
    border: 2px solid lightblue;
}
Breadcrumb #root {
    min-width: 20px;
    border: 2px solid lightblue;
}
Breadcrumb #root:hover {
    border: 2px solid blue;
}

/*ListViewItem[selected="true"][hovered="false"] {
    background: lightgreen;
}
ListViewItem[highlighted="true"] {
    background: lightyellow;
    /* FIXME: ar trebui să fie lightyellow și când
       este sub cursor * /
}
ListViewItem[selected="false"][hovered="true"] {
    background: lightgray;
}
ListViewItem[selected="true"][hovered="true"] {
    background: lightgreen;
}

FileOperationsMenu {
    border: 1px solid lightblue;
}*/

#viewButton {
    /*padding-left: 0.5em;
    padding-right: 0.5em;
    height: 1.5em;
    padding-top: ;
    padding-bottom: auto;*/
}
#viewButton[qproperty-text="on"] {
    /*color: darkgreen;*/
}
